# Cleaning Financial Data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [34]:
df_revenue = pd.read_excel('data/total_revenue.xlsx')
df_ebitda = pd.read_excel('data/ebitda.xlsx')
df_cogs = pd.read_excel('data/cogs.xlsx')
df_rd = pd.read_excel('data/rd.xlsx')

In [45]:
na_revenue = (df_revenue == "-").any(axis=1).sum()
na_ebitda = (df_ebitda == "-").any(axis=1).sum()
na_cogs = (df_cogs == "-").any(axis=1).sum()
na_rd = (df_rd == "-").any(axis=1).sum()

na_cogs

94

In [44]:
 # Create a Boolean mask for rows with "-" values
mask_revenue = (df_revenue == "-").any(axis=1)
mask_ebitda = (df_ebitda == "-").any(axis=1)
mask_cogs = (df_cogs == "-").any(axis=1)
mask_rd = (df_rd == "-").any(axis=1)

sum(mask_revenue==mask_cogs)

236

In [ ]:
# Drop the rows with "-" values from the original DataFrame
df = df[~mask]

In [15]:
new_column_names = ['Company name', '2016', '2017', '2018', '2019', '2020', '2021', '2022']

# Assign new column names to the DataFrame
df.columns = new_column_names
df.head()

,Company name,2016,2017,2018,2019,2020,2021,2022
0,ABB Ltd (SWX:ABBN),24929,25196,27662,27978,26134,28945,29446
1,"Amazon.com, Inc. (NasdaqGS:AMZN)",135987,177866,232887,280522,386064,469822,513983
2,"Cisco Systems, Inc. (NasdaqGS:CSCO)",48570,48096,50825,51550,48026,51549,53161
3,Intel Corporation (NasdaqGS:INTC),59387,62761,70848,71965,77867,79024,63054
4,Kyocera Corporation (TSE:6971),9347.7,10361.2,10983.6,10715,10024.7,11888.1,13407.4

In [17]:
X_train = np.array([i for i in range(2016, 2022)]).reshape(-1, 1)
X_train

array([[2016],
       [2017],
       [2018],
       [2019],
       [2020],
       [2021]])